body {
    margin: 0;
}
.wrap {
    /* display: flex; */
    width: 1200px;
    height: 1200px;
    background-color: rgba(255, 228, 196, 0.482);
    margin: 0 auto;
    
}
p {
    text-align: center;
    font-size: 40px;
    background-color: rgba(0, 139, 139, 0.358);
    height: 100px;
    width: 200px;
    color: blanchedalmond;
}

h1 {
    text-align: center;
    margin-top: 0;
    padding-top: 20px;
    color:forestgreen;
    font-size: 35px;
    margin-bottom: 10px;
    text-decoration:underline;
}
section {
    display: flex;
    justify-content: space-around;
}

.b {
    width: 100px;
    height: 30px;
    margin: 10px;
}
.b2 {
    width: 100px;
    margin-left: 10px;
}
.out {
    background-color: rgba(128, 255, 0, 0.611);
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 2px solid green;
    text-align: center;
    font-size: 24px;
    
}

.block {
    display: block;
    margin-left: 15px;
}
.i {
    width: 95px;
    margin-left: 2px;
}
.ii {
    width: 100px;
    height: 25px;
    margin-left: 10px;
}

.out_9 {
    width: 340px;
    background-color: greenyellow;
}
.clock {
    height: 55px;
    margin-top: 150px;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    background-color: rgba(43, 43, 43, 0.901);
    color: white;
    border: 3px solid rgba(104, 104, 104, 0.771);
}
.zone-1, .zone-2 {
    border: 2px solid rgb(152, 231, 87);
    margin: 10px;
    padding: 0;
    min-height: 150px;
}

.img, .img2 {
    margin: 10px;
}
