body {
    margin: 0;
}
.wrap {
    /* display: flex; */
    width: 1200px;
    height: 1200px;
    background-color: rgba(255, 228, 196, 0.482);
    margin: 0 auto;
    
}

h1 {
    text-align: center;
    margin-top: 0;
    padding-top: 20px;
    color:forestgreen;
    font-size: 35px;
    margin-bottom: 10px;
    text-decoration:underline;
}
section {
    display: flex;
    justify-content: space-around;
}

.b {
    width: 100px;
    height: 30px;
    margin: 10px;
}
.out {
    background-color: rgba(128, 255, 0, 0.611);
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 2px solid green;
    text-align: center;
    font-size: 24px;
    

}
.out_9 {
    margin-top: 0;
    margin-left: 1080px;
}

.i {
    width: 120px;
}